#about-hero {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #eaeaea;
}
#about-hero .container {
    height: calc(100vh - 80px);
    align-items: center;
}
#about-hero .c-info {
    width: 50%;
    text-align: justify;
}
#about-hero h1 {font-size: 35px;}
#about-hero h5 {font-size: 20px;}
#about-hero p {margin: 20px 0 30px 0;}
#about-hero .value {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
#about-hero .value i {margin-right: 20px; font-size: 20px;}

/* MAP SECTION */
/* ==================*/
#map-section {
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
}
#map-section h1 {font-size: 35px;}

#map-section .container iframe{
    width: 100%;
    margin-top: 50px;
}
