/* SPECIAL ELEMENTS */ 
/* ==================================================== */
* {margin: 0; padding: 0; font-family: 'Young Serif', serif; }
/* body {background-color: #eaeaea;} */
ul {list-style: none;}
a {text-decoration: none; color: #000;}
.container {width: 85%; margin: 0 auto;}
.d-flex {
    display: flex;
    justify-content: space-between;
}
.dl-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.active {font-weight: 900;}
.sp-btn,
.sp-btn-reverse {
    padding: 10px 20px;
    border: 3px solid #000;
    border-radius: 5px;
    font-weight: 600;
}
.sp-btn-reverse {background-color: #000; color: #fff;}
.sp-btn:hover,
header .links a:hover {
    background-color: #000;
    color: #fff;
    transition-duration: 1s;
}
.sp-btn-reverse:hover {
    background-color: transparent;
    color: #000;
    transition-duration: 1s;
}

footer,
#testimonies {
    margin-top: 80px;
}


/* HEADER */
/* ==================================================== */
header {
    width: 100%;
    height: 80px;
    background-color: #EAEAEA;
}
header .container {
    height: 80px;
    align-items: center;
}
header ul {display: flex;} 
header ul li a{
    margin-right: 20px;
    padding: 20px 15px;
}

/* FOOTER */
/* ==================================================== */
footer {
    width: 100%;
    height: auto;
    background-image: url(../Img/Background/footer-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .first-f {
    padding: 80px 0 45px 0;
}
footer h1 {
    font-size: 45px;
}
footer h2 {margin-bottom: 35px; font-size: 30px;}
footer a {
    margin-bottom: 10px;
    font-size: 18px;
}

/* TESTIMONIES & GUIDE INFORMATION SECTION */ 
/* =================================== */
#info-cnt {
    height: auto;
    padding: 50px 0;
}
#info-cnt h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
#info-cnt h3 {margin: 25px 0 10px 0;}
#info-cnt p {text-align: justify;}
#info-cnt .pr-grp {
    border: 3px solid #000;
    width: 28%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* =========================================================*/