#main {
    width: 100%;
    height: 100vh;
    background-image: url(../Img/Background/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HERO SECTION */
/* ================================== */
#hero {
    margin-top: 30px;
    width: 100%;
    height: auto;
}
#hero .container {
    height: 500px;
    align-items: center;
}
#hero h1 {
    font-size: 50px;
    font-weight: 900;
}
#hero p {
    font-size: 20px;
    margin: 15px 0 50px 0;
    text-align: justify;
}
#hero span {margin: 0 15px ;}
#hero i {margin-right: 20px;}

/* EDIT FOOTER MARGIN */
/* ================================== */
footer {
    margin-top: 0;
 }

 /* nav bar */
 #check {display: none;}
.check-btn {
    font-size: 30px;
    cursor: pointer;
    display: none;
}


/* =============
@media (max-width: 1200px) {
    .check-btn {
        display: block;
    }
    header ul {
        position: fixed;
        width: 100%;
        height: 30vh;
        background-color: #000000;
        top: 80px;
        left: -100%;
        flex-direction: column;
    }
    header ul li {
        margin: 20px 0 5px 40px;
    }
    header ul li a {
        color: #fff;
    }
    #check:checked ~ ul {
        left: 0;
    }
} */